* { box-sizing: border-box; 
}

body {
    margin: 0;                 
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 900;
}

.page {
    background-color: lightblue;
    margin-left:50px;
    margin-right:50px;
    

}
h2 {
    padding: 35px 50px 50px;
}
.vis-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
}
.column {
  display: flex;
  background-color: aliceblue;
  gap: 20px;
  border-radius: 16px;
  padding: 35px 50px;       
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;      /* space between columns */
}
.row {
  background-color: aliceblue;
  gap: 20px;
  border-radius: 16px;
  padding: 35px 50px;       
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;      /* space between columns */
}
.content-right {
  flex: 1;
  box-sizing: border-box; /* padding won’t cause overflow */
  padding-right: 12px;          /* inner breathing room (optional) */
}
.content-left {
  flex: 1;
  box-sizing: border-box; /* padding won’t cause overflow */
  padding-left: 12px;          /* inner breathing room (optional) */
}





