body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: white;
}

.page {
    width: 950px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container {
    width: 100%;
}
.content-right{
    padding-left: 20px;
}
.content-left{
    padding-right: 20px;
}


