* { box-sizing: border-box; }

body {
    margin: 0;                 
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 900;
}

.page {
    width: 950px;
    background-color: white;
    margin-left:0;
    margin-right:auto;
    padding: 35px 50px 50px;
}
.vis-container {
    width: 100%;
    margin:0;
}
.content-right{
    padding-left: 20px;
}
.content-left{
    padding-right: 20px;
}


